{# (couche 3) #}

{% extends "PWQCMBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block title2 %}Gestion des QCM{% endblock %}

{% block menu %}

	<ul class="nav nav-pills nav-stacked">
		<li><a href="{{ path('pw_qcm_add')}}">Creer un QCM</a></li>
		<li><a href="{{ path('pw_qcm_homepage')}}">Afficher les QCM</a></li>	
	</ul>

{% endblock %}

{% block body %}
	<h3>Tous les QCM</h3>
	<ul>
	{% for qcm in listQcm %}
		<li>
			<a href="{{ path('pw_qcm_view', {'id': qcm.id}) }}">
				{{ qcm.enonce }}
			</a>
			le {{ qcm.date|date('d/m/Y') }}
		</li>
	{% else %}
		<li>Pas encore de qcm</li>
	{% endfor %}
	</ul>
	
{% endblock %}