{# (couche 3) #}

{% extends "PWQCMBundle::layout.html.twig" %}

{% block title %}
	Affichage des QCM - {{ parent() }}
{% endblock %}

{% block title2 %}Affichage des QCM{% endblock %}

{% block body %}

	<div class="well">
		<h4> Enonce: {{ qcm.enonce }} </h4> </br>
		<em>Cree le {{ qcm.date|date('d/m/Y') }} </br></em>
		<b>Proposition A:</b> {{ qcm.propoA }} </br>
		<b>Proposition B:</b> {{ qcm.propoB }} </br>
		<b>Proposition C:</b> {{ qcm.propoC }} </br>
		<b>Proposition D:</b> {{ qcm.propoD }} </br>
		<b>Proposition E:</b> {{ qcm.propoE }} </br>
		<b>Reponse: {{ qcm.reponse }} </b></br>
		<b>Status:</b>{% if qcm.validated == 0 %} Pas encore valide.
							{% else %} Valide.{% endif %}
		</br><hr>
	</div>
	<p>
		{% if qcm.validated == false %}
			<a href="{{ path('pw_qcm_valider', {'id': qcm.id}) }}" class="btn btn-success">
				<i class="glyphicon glyphicon-ok"></i>
				Valider le qcm
			</a>
		{% endif %}

		<a href="{{ path('pw_qcm_homepage') }}" class="btn btn-default">
			<i class="glyphicon glyphicon-chevron-left"></i>
			Retour a la liste des qcm
		</a>

		<a href="{{ path('pw_qcm_edit', {'id': qcm.id}) }}" class="btn btn-default">
			<i class="glyphicon glyphicon-edit"></i>
			Modifier le qcm
		</a>

		<a href="{{ path('pw_qcm_delete', {'id': qcm.id}) }}" class="btn btn-danger">
			<i class="glyphicon glyphicon-trash"></i>
			Supprimer le qcm
		</a>
	</p>

{% endblock %}